ParentChildManagementCodeFirstProject/packages/
ParentChildManagementCodeFirstProject/ParentChildManagementCodeFirstProject/bin/
ParentChildManagementCodeFirstProject/ParentChildManagementCodeFirstProject/obj/
ParentChildManagementCodeFirstProject/ParentChildManagementCodeFirstProject.Tests/obj/
ParentChildManagementCodeFirstProject/ParentChildManagementCodeFirstProject.Tests/bin/
ParentChildManagementCodeFirstProject/CSharpConceptsExamples/obj/
ParentChildManagementCodeFirstProject/CSharpConceptsExamples/bin/
ParentChildManagementCodeFirstProject/myWebAPI/bin/
ParentChildManagementCodeFirstProject/myWebAPI/obj/
*.user
ParentChildManagementCodeFirstProject/.vs/ParentChildManagementCodeFirstProject/v14/.suo
