ParentChildManagementCodeFirstProject/packages/
ParentChildManagementCodeFirstProject/ParentChildManagementCodeFirstProject/bin/
ParentChildManagementCodeFirstProject/ParentChildManagementCodeFirstProject/obj/
ParentChildManagementCodeFirstProject/ParentChildManagementCodeFirstProject.Tests/obj/
